build
conf
docs
dumps
data
deployment
log/*
install_pyav_deps.sh
docker-compose*
*.rst
*.md
ocd_backend/secrets.py
.*
.semaphore-cache
**/*.pyc
**/__pycache__
**/.coverage
**/local_settings.py
**/Dockerfile*

# Force to include these files
!.pylintrc
!.env
