version: "2.2"
services:
  frontend:
    build:
      context: .
      dockerfile: ocd_frontend/Dockerfile.dev
    ports:
      - "5000:5000"
  backend:
    build:
      context: .
      dockerfile: ocd_backend/Dockerfile.dev
    ports:
      - "81:5555"
    environment:
      - "CLASSIFIER_HOST=localhost"
      - RELEASE_STAGE=development
      - PROXY_HOST=host.docker.internal
      - PROXY_PORT=8090
    command: /opt/ori/bin/start_backend.dev.sh
    mem_limit: 1g
  loader:
    build:
      context: .
      dockerfile: ocd_backend/Dockerfile.dev
    environment:
      - RELEASE_STAGE=development
      - PROXY_HOST=host.docker.internal
      - PROXY_PORT=8090
    mem_limit: 1g
  elastic:
    ports:
      - "9200:9200"
    environment:
      - "ES_JAVA_OPTS=-Xms4g -Xmx4g"
  postgres:
    ports:
      - "5432:5432"
  pgadmin:
    image: "dpage/pgadmin4:latest"
    ports:
      - "8081:80"
    environment:
      - "PGADMIN_DEFAULT_EMAIL=noreply@argu.co"
      - "PGADMIN_DEFAULT_PASSWORD=pgadmin"
    volumes:
      - pgadmindata:/var/lib/pgadmin
    depends_on:
      postgres:
        condition: service_started
  theme_classifier:
    image: "openstatefoundation/ori-theme-classifier:v1.0.0"
    ports:
      - "8050:5000"

volumes:
  pgadmindata:
    driver: local
