version: "2.2"
services:
  backend:
    build:
      context: .
      dockerfile: ocd_backend/Dockerfile
        #      cache_from:
        #- openstatefoundation/open-raadsinformatie-backend:build-tmp
        #image: ghcr.io/openstate/open-raadsinformatie
    links:
      - redis:redis
      - elastic:elasticsearch
    volumes:
      - oridata:/opt/ori/data
    depends_on:
      elastic:
        condition: service_healthy
      postgres:
        condition: service_started
    mem_limit: 3g
  redis:
    image: "redis:${REDIS_VERSION}"
    volumes:
     - redisdata:/data
    sysctls:
     - net.core.somaxconn=65535
    mem_limit: 4g
  elastic:
    image: elasticsearch:7.0.0
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 4g
    cap_add:
      - IPC_LOCK
    volumes:
      - esdata:/usr/share/elasticsearch/data
    healthcheck:
      test: wget -q -O - http://127.0.0.1:9200/_cat/health
      interval: 15s
      timeout: 10s
      retries: 5
    environment:
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      # Discovery
      - network.host=127.0.0.1
      - http.host=0.0.0.0
      - cluster.name=docker-cluster

      # Disable xpack features
      - xpack.security.enabled=false
      - xpack.monitoring.enabled=false

      # Enable CORS for all origins
      #- http.cors.enabled=true
      #- http.cors.allow-origin="*"
      #- http.cors.allow-headers=Content-Type,Content-Length,Authorization
      #- http.cors.allow-credentials=true

      # Security (https://www.elastic.co/blog/found-elasticsearch-security)
      - rest.action.multi.allow_explicit_index=false
      - script.allowed_types=none
      - script.allowed_contexts=none

      # Other settings
      - node.max_local_storage_nodes=20
      - bootstrap.memory_lock=false
      - reindex.remote.whitelist=c-open-raadsinformatie:9200
  # elastic2:
  #   extends:
  #     service: elastic
  #   environment:
  #     - cluster.name=docker-cluster2
  #     - reindex.remote.whitelist=elastic:9200
  postgres:
    image: "postgres:${POSTGRES_VERSION}"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  esdata:
    driver: local
  redisdata:
    driver: local
  oridata:
    driver: local
  pgdata:
    driver: local
