version: "2.2"
services:
  backend:
    ports:
      - "81:5555"
    environment:
      - "CLASSIFIER_HOST=localhost"
    volumes:
      - .:/opt/ori
    command: /opt/ori/bin/backend.sh
    mem_limit: 1g
  loader:
    mem_limit: 1g
  elastic:
    ports:
      - "9200:9200"
  postgres:
    ports:
      - "5432:5432"
  pgadmin:
    image: "dpage/pgadmin4:latest"
    ports:
      - "8081:80"
    environment:
      - "PGADMIN_DEFAULT_EMAIL=noreply@argu.co"
      - "PGADMIN_DEFAULT_PASSWORD=pgadmin"
    volumes:
      - pgadmindata:/var/lib/pgadmin
    depends_on:
      postgres:
        condition: service_started
  theme_classifier:
    image: "openstatefoundation/ori-theme-classifier:v1.0.0"
    ports:
      - "8050:5000"

volumes:
  pgadmindata:
    driver: local
