alembic==1.14.0
celery[redis]==5.4.0
redis==5.2.1
click==8.1.2
elasticsearch>=7.0.0,<8.0.0
flower==2.0.1
iso8601==2.1.0
lxml==5.3.0
kombu==5.4.2
# msgpack-python==0.4.2
nose2==0.15.1
pdftotext==2.1.4
Pillow==9.3.0
psycopg2==2.9.10
PyLD==2.0.4
python-dateutil==2.9.0
python-json-logger==2.0.7
python-magic==0.4.27
pyyaml==6.0.2
rdflib==7.1.1
requests[socks]==2.32.3
sentry-sdk[celery]==2.19.2
sqlalchemy==2.0.36
sqlalchemy-utils==0.41.2
urllib3==2.2.3
translitcodec==0.7.0
zeep==4.3.1
